<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<add name="MilYUnaNochesEntities" connectionString="metadata=res://*/MilYUnaNocheDataModel.csdl|res://*/MilYUnaNocheDataModel.ssdl|res://*/MilYUnaNocheDataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ERILAP\SQLEXPRESS02;initial catalog=MilYUnaNoches;persist security info=True;user id=adminBDMilYUnaNoches;password=tiendadeloriente;encrypt=False;trustservercertificate=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>

	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IUserManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IAdressManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProviderManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
                <binding name="NetTcpBinding_IProductsManager">
                    <reliableSession enabled="true" />
                    <security mode="None">
                        <transport sslProtocols="None" />
                    </security>
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:1441/UserService" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IUserManager" contract="Proxy.IUserManager"
                name="NetTcpBinding_IUserManager" />
            <endpoint address="net.tcp://localhost:1441/AddressManager" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAdressManager" contract="Proxy.IAdressManager"
                name="NetTcpBinding_IAdressManager" />
            <endpoint address="net.tcp://localhost:1441/ProviderManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProviderManager"
                contract="Proxy.IProviderManager" name="NetTcpBinding_IProviderManager" />
            <endpoint address="net.tcp://localhost:1441/ProductsManager"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IProductsManager"
                contract="Proxy.IProductsManager" name="NetTcpBinding_IProductsManager" />
        </client>
    </system.serviceModel>
</configuration>